*{
    margin: 0;
    padding: 0;
}

#big-title{
    font-size: 40px;
}

#img-profile{
    width: 100%;
}

#container{
    text-align: center;
}

@media (min-width: 900px){

    #img-profile{
        width: 60%;
    }
} 